<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821154855107-7ag2co3phdulem83ganfhr73sbmor5o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821154855107-7ag2co3phdulem83ganfhr73sbmor5o6</string>
	<key>API_KEY</key>
	<string>AIzaSyDY1ZaznZPIJMbe8RDN_DvfDaQgB7fI5lU</string>
	<key>GCM_SENDER_ID</key>
	<string>821154855107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greendiceinvestments</string>
	<key>PROJECT_ID</key>
	<string>green-dice-e4cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>green-dice-e4cd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821154855107:ios:1ed5fe70bda8260a1e0a76</string>
</dict>
</plist>